.header{
    display: flex;
    padding-left: 150px;
    padding-top: 20px;
}
.header-img img{
    height: 70px;
    
}
.hotel-link{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.hotel-link a{
    text-decoration: none;
    color: rgb(93, 163, 190);
    margin-left: 20px;
}
.hotel-link a:hover{
    color: white;
    font-size: 22px;
    font-weight: 500;
}